---

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>R🦀stro Programming language</title>
  </head>
  <body>
    <header>
      <nav class="flex p-8 text-lg">
          <img class="mr-auto" src="/logo.svg" alt="R*stro logo" />
          <a href="/tools/install">Install</a>
          <a href="/learn">Learn</a>
          <a href="/playground">Playground</a>
          <a href="/tools">Tools</a>
          <a href="/tools">Governance</a>
          <a href="/tools">Community</a>
          <a href="/tools">Blog</a>
      </nav>
    </header>
    <slot />
  </body>
</html>
<style is:global>
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cedarville+Cursive&family=Fira+Sans&display=swap');
  html {
    font-family: "Fira Sans", Helvetica, Arial, system-ui, sans-serif;
    /* background-color: #f6f6f6; */
  }
  h1 {
    font-family: "Alfa Slab One", serif;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  a {
    @apply underline mx-6;
  }
</style>
